.container-CarInfo{
    position: relative;
    width: 100vw;
    height: calc( 100vh - 60px );
    display: flex;
}
.car-image{
    position: absolute;
    left:0 ;
    width: 50%;
    height: 100%;
}
.car-info{ 
    position: absolute;
    left:50%;
    width: 50%;
    height: 100%;
}
.car-title{ 
    font-size: 30px;
    color: brown;
    font-weight: 900;
    display: block;
    text-align:center;
    padding: 50px 0 10px 0 ;
}
.car-price{
     font-size: 25px;
    color: brown;
    font-weight: 500;
    text-align:center;
    display: block;
}
.car-desc{ 
    padding: 15px 30px;
}

.success{
    color: #13c822;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
}
.error{
    color:#f73a34;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
}

.rent-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
}